<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="baseUrl" value="https://comedxmv031/piwebapi/"/>
      <add key="username" value="1020761637"/>
      <add key="domain" value="ISAMDNT"/>
      <add key="password" value="Pr3qEteg"/>
      <add key="baseTagPath" value="\\SRVXM58\"/>
      <add key="conexionMID" value="Data Source=APP-RANGER;Initial Catalog=BDMID.XM 2018.11.30;User ID=bimuser;Password=bim@123;"/>
    </appSettings>
</configuration>